<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=500"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="../dist/popup.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div id="wrapper">
            <div id="logo_area" data-i18n="logo?title"></div>
            <div id="tabs">
                <div class="active" data-i18n="tabs_this_tab" data-tab="this_tab"></div>
                <div data-i18n="tabs_clean_all" data-tab="clean_all"></div>
                <div data-i18n="tabs_rules" data-tab="rules"></div>
                <div data-i18n="tabs_settings" data-tab="settings"></div>
                <div data-i18n="tabs_log" data-tab="log"></div>
                <div data-i18n="tabs_about" data-tab="about"></div>
                <a href="readme.html#tutorial" target="_blank" id="help_link" class="open_as_tab" data-i18n="help_button?title">?</a>
            </div>
            <div id="pages">
                <div class="active">
                    <div><span id="current_tab">?</span><span data-i18n="button_log_add_rule" class="log_add_rule" id="current_tab_add_rule"></span><button id="clean_current_tab" data-i18n="button_clean_now"></button></div>
                    <div class="rules_head">
                        <div data-i18n="rules_column_matching_rule"></div>
                        <div class="type_column" data-i18n="rules_column_type"></div>
                        <div class="delete_column" data-i18n="rules_column_remove"></div>
                    </div>
                    <ul id="rules_list_current_tab" class="rules_list"></ul>
                </div>
                <div>
                    <div class="split_30_70">
                        <label><input type="checkbox" data-settings-key="cleanAll.cookies" data-enables-setting="cleanAll.cookies.applyRules"><span data-i18n="setting_cookies"></span></label>
                        <label><input type="checkbox" data-settings-key="cleanAll.cookies.applyRules"><span data-i18n="setting_apply_rules"></span></label>
                    </div>
                    <div class="split_30_70">
                        <label><input type="checkbox" data-settings-key="cleanAll.localStorage" data-enables-setting="cleanAll.localStorage.applyRules"><span data-i18n="setting_local_storage"></span></label>
                        <label><input type="checkbox" data-settings-key="cleanAll.localStorage.applyRules"><span data-i18n="setting_apply_rules_ff58"></span></label>
                    </div>
                    <div class="split_equal top_border">
                        <label><input type="checkbox" data-settings-key="cleanAll.history"><span data-i18n="setting_history"></span></label>
                        <label><input type="checkbox" data-settings-key="cleanAll.downloads"><span data-i18n="setting_downloads"></span></label>
                    </div>
                    <div class="split_equal">
                        <label><input type="checkbox" data-settings-key="cleanAll.formData"><span data-i18n="setting_form_data"></span></label>
                        <label><input type="checkbox" data-settings-key="cleanAll.passwords"><span data-i18n="setting_passwords"></span></label>
                    </div>
                    <div class="split_equal">
                        <label><input type="checkbox" data-settings-key="cleanAll.indexedDB"><span data-i18n="setting_indexed_db"></span></label>
                        <label><input type="checkbox" data-settings-key="cleanAll.pluginData"><span data-i18n="setting_plugin_data"></span></label>
                    </div>
                    <div class="split_equal">
                        <label><input type="checkbox" data-settings-key="cleanAll.serviceWorkers"><span data-i18n="setting_service_workers"></span></label>
                        <label><input type="checkbox" data-settings-key="cleanAll.serverBoundCertificates"><span data-i18n="setting_server_bound_certificates"></span></label>
                    </div>
                    <div class="top_margin"><button data-i18n="button_clean_now" id="clean_all_now"></button></div>
                </div>
                <div id="rules_tab_page">
                    <div id="rules_input_wrapper">
                        <input id="rules_input" data-i18n="rules_input?placeholder">
                        <button id="rules_add" data-i18n="rules_add"></button>
                    </div>
                    <div id="rules_hint"></div>
                    <div class="rules_head">
                        <div data-i18n="rules_column_rule"></div>
                        <div class="type_column" data-i18n="rules_column_type"></div>
                        <div class="delete_column" data-i18n="rules_column_remove"></div>
                    </div>
                    <ul id="rules_list" class="rules_list"></ul>
                    <div><label><input type="checkbox" data-settings-key="whitelistNoTLD"><span data-i18n="setting_whitelist_no_tld?text?title"></span></label></div>
                </div>
                <div>
                    <div><label><input type="checkbox" data-settings-key="domainLeave.enabled"><span data-i18n="setting_domain_leave_enabled?text?title"></span></label></div>
                    <div class="indented split_equal">
                        <label><input type="checkbox" data-settings-key="domainLeave.cookies"><span data-i18n="setting_cookies"></span></label>
                        <label><input type="checkbox" data-settings-key="domainLeave.localStorage"><span data-i18n="setting_local_storage_ff58"></span></label>
                    </div>
                    <div class="indented"><label><span data-i18n="setting_delay_in_minutes"></span><input type="number" data-settings-key="domainLeave.delay"></div>
                    <div><label><input type="checkbox" data-settings-key="cleanThirdPartyCookies.enabled"><span data-i18n="setting_remove_thirdparty"></span></label></div>
                    <div class="indented">
                        <label><span data-i18n="setting_delay_in_minutes"></span><input type="number" data-settings-key="cleanThirdPartyCookies.delay"></label>
                        <div><label><input type="checkbox" data-settings-key="cleanThirdPartyCookies.beforeCreation"><span data-i18n="setting_thirdparty_before_creation"></span></label>
                            <a href="readme.html#experimental" target="_blank" class="open_as_tab" data-i18n="experimental_link?title">?</a>
                        </div>
                    </div>
                    <div><label><input type="checkbox" data-settings-key="startup.enabled"><span data-i18n="setting_startup_enabled"></span></label></div>
                    
                    <div class="indented split_30_70">
                        <label><input type="checkbox" data-settings-key="startup.cookies" data-enables-setting="startup.cookies.applyRules"><span data-i18n="setting_cookies"></span></label>
                        <label><input type="checkbox" data-settings-key="startup.cookies.applyRules"><span data-i18n="setting_apply_rules"></span></label>
                    </div>
                    <div class="indented split_30_70">
                        <label><input type="checkbox" data-settings-key="startup.localStorage" data-enables-setting="startup.localStorage.applyRules"><span data-i18n="setting_local_storage"></span></label>
                        <label><input type="checkbox" data-settings-key="startup.localStorage.applyRules"><span data-i18n="setting_apply_rules"></span></label>
                    </div>
                    <div class="indented split_equal top_border">
                        <label><input type="checkbox" data-settings-key="startup.history"><span data-i18n="setting_history"></span></label>
                        <label><input type="checkbox" data-settings-key="startup.downloads"><span data-i18n="setting_downloads"></span></label>
                    </div>
                    <div class="indented split_equal">
                        <label><input type="checkbox" data-settings-key="startup.formData"><span data-i18n="setting_form_data"></span></label>
                        <label><input type="checkbox" data-settings-key="startup.passwords"><span data-i18n="setting_passwords"></span></label>
                    </div>
                    <div class="indented split_equal">
                        <label><input type="checkbox" data-settings-key="startup.indexedDB"><span data-i18n="setting_indexed_db"></span></label>
                        <label><input type="checkbox" data-settings-key="startup.pluginData"><span data-i18n="setting_plugin_data"></span></label>
                    </div>
                    <div class="indented split_equal">
                        <label><input type="checkbox" data-settings-key="startup.serviceWorkers"><span data-i18n="setting_service_workers"></span></label>
                        <label><input type="checkbox" data-settings-key="startup.serverBoundCertificates"><span data-i18n="setting_server_bound_certificates"></span></label>
                    </div>
                    <div><label><input type="checkbox" data-settings-key="showUpdateNotification"><span data-i18n="setting_show_update_notification"></span></label></div>
                    <div><label><input type="checkbox" data-settings-key="showCookieRemovalNotification"><span data-i18n="setting_show_cookie_removal_notification"></span></label></div>
                    <div><label><input type="checkbox" data-settings-key="showBadge"><span data-i18n="setting_show_badge"></span></label></div>
                    <div><label><span data-i18n="setting_initialTab"></span><select data-settings-key="initialTab" style="margin-left: 5px; margin-right: 0;">
                        <option data-i18n="last_active_tab" value="last_active_tab"></option>
                        <option data-i18n="tabs_this_tab" value="this_tab"></option>
                        <option data-i18n="tabs_clean_all" value="clean_all"></option>
                        <option data-i18n="tabs_rules" value="rules"></option>
                        <option data-i18n="tabs_settings" value="settings"></option>
                        <option data-i18n="tabs_log" value="log"></option>
                        <option data-i18n="tabs_about" value="about"></option>
                    </select></label></div>
                    <div class="split_equal top_margin">
                        <button id="settings_import" data-i18n="button_import"></button>
                        <button id="settings_export" data-i18n="button_export"></button>
                        <button id="settings_reset" data-i18n="button_reset"></button>
                    </div>
                </div>
                <div>
                    <div class="split_equal">
                        <label><input type="checkbox" data-settings-key="logRAD.enabled"><span data-i18n="setting_log_rad_enabled"></span></label>
                        <label><span data-i18n="setting_log_rad_limit"></span><input type="number" data-settings-key="logRAD.limit"></label>
                    </div>
                    <b data-i18n="recently_accessed_domains" class="top_margin"></b>
                    <ul id="recently_accessed_domains"></ul>
                </div>
                <div data-i18n="about_page?markdown" class="compact_markdown"></div>
            </div>
        </div>
        <script src="../dist/popup.js"></script>
    </body>
</html>
