/**
 * License: zlib/libpng
 * @author Santo Pfingsten
 * @see https://github.com/Lusito/forget-me-not
 */

$badgeColorNever: rgb(38, 69, 151);
$badgeColorStartup: rgb(116, 116, 116);
$badgeColorLeave: rgb(190, 23, 38);
$badgeColorInstantly: rgb(0, 0, 0);
$badgeColorManual: rgb(132, 132, 132);
