/**
 * License: zlib/libpng
 * @author Santo Pfingsten
 * @see https://github.com/Lusito/forget-me-not
 */

$badgeColorWhite: rgb(38, 69, 151);
$badgeColorGray: rgb(116, 116, 116);
$badgeColorForget: rgb(190, 23, 38);
$badgeColorBlock: rgb(0, 0, 0);
