.settings_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #afafaf;
    margin-bottom: 5px;

    tbody > tr:nth-child(odd) > *:first-child {
        background: #e6e6e6;
    }
    tbody,
    thead {
        > tr:hover > *:first-child {
            background: rgba(33, 67, 152, 0.3803921568627451);
        }
    }

    th:first-child {
        width: 100%;
    }

    th:not(:first-child) {
        text-align: center;
        > img {
            margin-top: 3px;
        }
    }

    thead > tr:last-child {
        th:first-child {
            font-weight: normal;
        }
        th:not(:first-child) {
            padding-bottom: 3px;
        }
    }

    span {
        display: inline-block;
    }

    label {
        margin: 0;
    }

    input[type="checkbox"] + span:before {
        margin-left: 3px;
    }

    .apply_rules_checkbox {
        input[type="checkbox"] {
            + span {
                transition: opacity 0.2s, filter 0.2s;
            }
            + span:before {
                content: "";
                background: url("../../../icons/shield_white.svg");
            }
            + span:before {
                box-shadow: none;
            }
        }
        input[type="checkbox"]:disabled {
            + span {
                opacity: 0.3;
                filter: grayscale(1);
            }
        }
        input[type="checkbox"]:not(:checked) + span:before {
            background: url("../../../icons/no_shield_white.svg");
        }
        input[type="checkbox"]:not(:disabled) {
            &:focus,
            &:hover {
                + span {
                    outline: 1px dashed rgba(80, 149, 234, 0.75);
                }
            }
        }
    }

    .unsupported_checkbox {
        color: white;
    }

    th {
        border-bottom: 1px solid #afafaf;
    }

    tr > *:nth-child(1),
    tr > *:nth-child(3),
    tr > *:nth-child(4) {
        border-right: 1px solid #afafaf;
    }

    thead > tr:not(:first-child) > th,
    tbody > tr > td {
        &.cleanup_type_never {
            background: rgba($badgeColorNever, 0.7);
        }

        &.cleanup_type_startup {
            background: rgba($badgeColorStartup, 0.7);
        }

        &.cleanup_type_leave {
            background: rgba($badgeColorLeave, 0.7);
        }

        &.cleanup_type_instantly {
            background: rgba($badgeColorInstantly, 0.7);
        }

        &.cleanup_type_manual {
            background: rgba($badgeColorManual, 0.7);
        }
    }
    th:first-child {
        padding-left: 4px;
    }

    td:first-child {
        padding-left: 12px;
    }

    tr:last-child > td {
        padding-bottom: 4px;
    }

    tr:last-child th {
        border-bottom-color: #d8d8d8;
    }
}

.settings_legend {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 5px 0;
    padding: 0;

    > li {
        width: 50%;
        &:last-child:nth-child(odd) {
            width: auto;
        }
        display: flex;
        align-items: center;
        padding: 1px 0;
    }
}

.settings_legend img,
.settings_table th img {
    width: 16px;
    height: 16px;
    margin: 0 4px;
}

select[data-settings-key="initialTab"] {
    margin-left: 5px;
}
