<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=500"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="../dist/readme.css" type="text/css" rel="stylesheet">
        <title data-i18n="extensionName"></title>
    </head>
    <body>
        <div id="wrapper">
            <div id="logo_area" data-i18n="logo?title"></div>
            <div id="tabs">
                <div class="active" data-i18n="tabs_tutorial" data-tab="tutorial"></div>
                <div data-i18n="tabs_experimental" data-tab="experimental"></div>
                <div data-i18n="tabs_changelog" data-tab="changelog"></div>
                <div data-i18n="tabs_about" data-tab="about"></div>
            </div>
            <div id="pages">
                <div class="active" data-i18n="tutorial_page?markdown"></div>
                <div data-i18n="experimental_page?markdown"></div>
                <div data-i18n="changelog_page?markdown"></div>
                <div data-i18n="about_page?markdown"></div>
            </div>
        </div>
        <script src="../dist/readme.js"></script>
    </body>
</html>
