.snooze_button {
    background-image: url("../../icons/snooze.svg");

    &.is-active {
        background-image: url("../../icons/snooze_active.svg");
    }
    &:not(.is-active):not(:hover) {
        opacity: 0.8;
    }
}
